@model IEnumerable<dynamic>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-header page-header-light shadow">
    <div class="page-header-content d-lg-flex">
        <div class="collapse d-lg-block ms-lg-auto" id="breadcrumb_elements">
        </div>
    </div>

    <div class="page-header-content d-lg-flex border-top">
        <div class="d-flex">
            <div class="breadcrumb py-2">
                <a asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="ph-house"></i></a>
                <span class="breadcrumb-item active">Danh Sách</span>
                <span class="breadcrumb-item active"><a asp-action="Index">DS Hợp Đồng</a></span>
                <span class="breadcrumb-item active"><a asp-action="Create">Thêm Hợp Đồng</a></span>
            </div>

            <a href="#breadcrumb_elements"
               class="btn btn-light align-self-center collapsed d-lg-none border-transparent rounded-pill p-0 ms-auto"
               data-bs-toggle="collapse">
                <i class="ph-caret-down collapsible-indicator ph-sm m-1"></i>
            </a>
        </div>
    </div>
</div>

<div class="tab">
    <button id="tab1" class="tablinks" onclick="openTab(event, 'Tab1')">Hợp Đồng</button>
    <button id="tab2" class="tablinks" onclick="openTab(event, 'Tab2')">Dịch Vụ</button>
    <button id="tab3" class="tablinks" onclick="openTab(event, 'Tab3')">Chi Tiết Dịch Vụ</button>
</div>

<div id="Tab1" class="tabcontent">
    @*<div class="content-wrapper">
    <div class="content-inner">
    <div class="content">
    <div class="card">
    <h6 style="font-size: 30px; text-align: center;margin: 15px 0px;color: #0066FF; ">Thêm Nhân Viên</h6>
    <form asp-action="Create" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <fieldset style="margin: 15px !important;">
    <div class="row">
    <div class="col-lg-6">
    <div class="mb-3">
    <label class="control-label">CCCD</label>
    <input class="form-control" />
    <span class="text-danger"></span>
    </div>
    </div>
    <div class="col-lg-6">
    <label class="control-label">Tên Nhân Viên</label>
    <input type="text" class="form-control">
    </div>
    <div class="col-lg-6">
    <div class="mb-3">
    <label class="control-label">Giới Tính</label>
    <select class="form-control">
    <option value="1">Nam</option>
    <option value="0">Nữ</option>
    </select>
    <span class="text-danger"></span>
    </div>
    </div>
    <div class="col-lg-6">
    <div class="mb-3">
    <label class="control-label">Ngày Sinh</label>
    <input class="form-control" />
    <span class="text-danger"></span>
    </div>
    </div>
    <div class="col-lg-6">
    <div class="mb-3">
    <label class="control-label">Địa Chỉ</label>
    <input class="form-control" />
    <span class="text-danger"></span>
    </div>
    </div>
    <div class="col-lg-6">
    <div class="mb-3">
    <label class="control-label">Số Điện Thoại</label>
    <input type="text" class="form-control">
    </div>
    </div>
    <div class="col-lg-6">
    <div class="mb-3">
    <label class="control-label">Email</label>
    <input type="text" class="form-control">
    </div>
    </div>
    <div class="col-lg-6">
    <div class="mb-3">
    <label class="control-label">Chức Vụ</label>
    <select class="form-control" asp-items="ViewBag.ChucVuList"></select>
    <span class="text-danger"></span>
    </div>
    </div>
    <div class="col-lg-6">
    <div class="mb-3">
    <label class="control-label">Phòng Ban</label>
    <select class="form-control" asp-items="ViewBag.PhongBanList"></select>
    <span class="text-danger"></span>
    </div>
    </div>
    <div class="col-lg-6">
    <div class="mb-3">
    <label class="control-label">Tình Trạng</label>
    <select class="form-control">
    <option value="1">Đang Làm</option>
    <option value="0">Nghỉ Việc</option>
    </select>
    <span class="text-danger"></span>
    </div>
    </div>
    <div class="col-lg-6">
    <div class="mb-3">
    <label class="control-label"></label>
    <input type="file" class="form-control" accept=".jpg,.jpeg,.png">
    <span class="text-danger"></span>
    </div>
    </div>
    </div>
    </fieldset>
    <div style="justify-content:center" class="card-footer d-flex justify-content-center">
    <a class="btn btn-primary ms-3" style="text-decoration: none;"
    asp-action="Index">Quay Lại</a>
    <button style="width: 90px" type="submit" value="Tạo" class="btn btn-primary ms-3">Tạo</button>
    </div>
    </form>
    </div>
    </div>
    </div>
    </div>*@
</div>

<div id="Tab2" class="tabcontent">
    <div class="card-body">
        <a id="openPopup" class="btn btn-primary">Thêm Dịch Vụ</a>
    </div>
    <div class="card">
        <div id="myPopup" class="popup">
            <h2>Nhập thông tin</h2>
            <label for="unitPrice">Loại Dịch Vụ:</label>
            <select id="serviceTypeDropdown">
                @if (ViewBag.ServiceTypes != null)
                {
                    @foreach (var serviceType in ViewBag.ServiceTypes)
                    {
                        <option value="@serviceType.Service_Type_ID">@serviceType.Name</option>
                    }
                }
                else
                {
                    <p>Danh sách loại dịch vụ trống.</p>
                }
            </select>

            <label for="unitPrice">Đơn Vị Tính:</label>
            <select id="unit">
                <option value="Trang">Trang</option>
                <option value="Video">Video</option>
            </select>

            <label for="unitPrice">Giá Tiền:</label>
            <input type="text" placeholder="Giá tiền (VNĐ)" id="unitPrice" class="input-currency">
            <label for="unitPrice">Số Lượng:</label>
            <input type="number" min="1" placeholder="Số lượng" id="quantity">
            <label for="unitPrice">Tổng Tiền:</label>
            <input type="text" placeholder="Thành tiền" id="totalAmount" class="input-currency">
            <button id="saveButton">Lưu</button>
            <button id="closePopup">Đóng</button>
        </div>

        <div id="overlay" class="overlay"></div>
        <table class="table datatable-column-search-inputs">
            <thead>
                <tr>
                    <th>STT</th>
                    <th>Loại dịch vụ</th>
                    <th>Đơn vị tính</th>
                    <th>Đơn giá</th>
                    <th>Số lượng</th>
                    <th>Thành tiền</th>
                </tr>
            </thead>
            <tbody id="serviceTableBody">
                @if (ViewBag.Services != null)
                {
                    var stt = 1;
                    @foreach (var service in ViewBag.Services)
                    {
                        <tr>
                            <td>@stt</td>
                            <td>@service.Service_Type_Name</td>
                            <td>@service.Unit</td>
                            <td>@service.Unit_Price.ToString("N0")</td>
                            <td>@service.Quantity</td>
                            <td>@service.Total_Amount.ToString("N0")</td>
                            <td>
                                <a href="#"><i class="fa-solid fa-pen-to-square"></i></a>
                                <a href="#" class="delete-link" data-serviceid="@service.Service_ID"><i class="fa-solid fa-trash-can"></i></a>
                            </td>
                        </tr>
                        stt++;
                    }
                }
                else
                {
                    <tr>
                        <td colspan="7">Không có dữ liệu</td>
                    </tr>
                }
            </tbody>

        </table>
    </div>
</div>


<div id="Tab3" class="tabcontent">
    <div class="card-body">
        <a id="openPopup3" class="btn btn-primary">Thêm Chi Tiết</a>
    </div>
    <div id="myPopup3" class="popup">
        <h2>Nhập thông tin</h2>
        <select id="serviceType">
            <option value="Service 1">Dịch vụ 1</option>
            <option value="Service 2">Dịch vụ 2</option>
            <option value="Service 3">Dịch vụ 3</option>
        </select>
        <select id="unit">
            <option value="Piece">Cái</option>
            <option value="Hour">Giờ</option>
            <option value="Kg">Kg</option>
        </select>
        <input type="text" placeholder="Đơn giá" id="unitPrice">
        <input type="number" min="1" placeholder="Số lượng" id="quantity">
        <input type="text" placeholder="Thành tiền" id="totalAmount">
        <button id="saveButton">Lưu</button>
        <button id="closePopup3">Đóng</button>
    </div>

    <div id="overlay" class="overlay"></div>
    <div class="content">
        <div class="card">
            <label style="text-align:center">Dịch vụ abc</label>
            <table class="table datatable-column-search-inputs">
                <thead>
                    <tr style="text-align:center;">
                        <th>STT</th>
                        <th>Ngày</th>
                        <th>Nhân viên phụ trách</th>
                        <th>Tình trạng</th>
                        <th>Trạng Thái</th>
                    </tr>
                </thead>
                <tbody>
                    <tr style="text-align:center">
                        <td>1</td>
                        <td>2011/04/25</td>
                        <td>Biện Anh Pháp</td>
                        <th>
                            <button class="toggle-btn" style="color: #94bbff;">
                                <i class="fa-solid fa-toggle-on fa-lg"></i>
                            </button>
                        </th>
                        <td>
                            <span class="badge bg-danger bg-opacity-10 text-info"
                                  style="--bg-opacity: 1;color: rgba(var(--white-rgb), var(--text-opacity)) !important;background-color: rgba(var(--danger-rgb), var(--bg-opacity)) !important;">
                                Chưa
                                ký
                            </span>
                        </td>
                        <td>
                            <a href="#"><i class="fa-solid fa-pen-to-square"></i></a>
                            <a href="#"><i class="fa-solid fa-trash-can"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


<script src="~/assets/js/site.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha384-KyZXE1s5DfC8y7X5OZGqDz3asGtLJpTDAyAeJSEhMn79A2cHTt45wEUJqOqDO3oF" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/5.0.6/jquery.inputmask.min.js"></script>


<script>
    $(document).ready(function () {
        $('.delete-link').click(function (event) {
            event.preventDefault(); // Ngăn chặn hành vi mặc định của liên kết

            var serviceID = $(this).data('serviceid');
            var $deletedRow = $(this).closest('tr'); // Lấy thẻ cha là <tr> chứa dòng

            // Gửi Ajax request để xóa dịch vụ
            $.ajax({
                url: '/Contracts/Delete',
                type: 'DELETE',
                dataType: 'json',
                data: { serviceID: serviceID },
                success: function (result) {
                    alert("Xóa dịch vụ thành công!");

                    // Loại bỏ dòng vừa click xoá khỏi bảng
                    $deletedRow.remove();
                },
                error: function () {
                    alert("Lỗi: Xóa dịch vụ không thành công!");
                }
            });
        });
    });
</script>


<script>
    $(document).ready(function () {
        $('#saveButton').click(function () {
            var serviceTypeID = $('#serviceTypeDropdown').val();
            var unit = $('#unit').val();
            var unitPrice = parseFloat($('#unitPrice').val().replace(/,/g, ''));
            var quantity = parseFloat($('#quantity').val());
            var totalAmount = unitPrice * quantity;

            var data = {
                Service_Type_ID: serviceTypeID,
                Unit: unit,
                Unit_Price: unitPrice,
                Quantity: quantity,
                Total_Amount: totalAmount
            };

            // Gửi Ajax request với dữ liệu chứa chỉ Service_Type_ID
            $.ajax({
                url: '/Contracts/Create',
                type: 'POST',
                dataType: 'json',
                data: data,
                success: function (result) {
                    alert("Tạo dịch vụ thành công!");
                    // Tải lại dữ liệu bảng bằng Ajax
                    location.reload();
                },
                error: function (error) {
                    alert("Lỗi: " + error.responseText);
                }
            });
        });
    });
</script>







