@model IEnumerable<dynamic>
@{
    List<string> BreadCrumb = new List<string>();
    BreadCrumb.Add("<a href='/Contracts/Index' class='breadcrumb-item'>Hợp đồng</a>");
    BreadCrumb.Add("<span class='breadcrumb-item active'> Tạo mới</span>");
    ViewBag.BreadCrumb = BreadCrumb;
}

<div class="page-header page-header-light shadow">
    <div class="page-header-content d-lg-flex border-top">
        <div class="d-flex">
            <div class="breadcrumb py-2">
                <a asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="ph-house"></i></a>
                <span class="breadcrumb-item active">Danh Sách</span>
                <span class="breadcrumb-item active"><a asp-action="Index">DS Hợp Đồng</a></span>
                <span class="breadcrumb-item active"><a asp-action="Create">Thêm Hợp Đồng</a></span>
            </div>

            <a href="#breadcrumb_elements"
               class="btn btn-light align-self-center collapsed d-lg-none border-transparent rounded-pill p-0 ms-auto"
               data-bs-toggle="collapse">
                <i class="ph-caret-down collapsible-indicator ph-sm m-1"></i>
            </a>
        </div>
    </div>
</div>

<div class="tab">
    <button id="tab1" class="tablinks" onclick="openTab(event, 'Tab1')">Hợp Đồng</button>
    <button id="tab2" class="tablinks" onclick="openTab(event, 'Tab2')">Dịch Vụ</button>
    <button id="tab3" class="tablinks" onclick="openTab(event, 'Tab3')">Chi Tiết Dịch Vụ</button>
</div>

<div id="Tab1" class="tabcontent">
    <div class="card-body" >
        <a id="openPopup4" style="margin-bottom: 4px; margin-left: 0px;" class="btn btn-primary">Thêm Hợp Đồng</a>
    </div>
    <div class="card">
        <div id="myPopup4" class="popup">
            <h2>Nhập thông tin</h2>
            <label for="unitPrice">Mã hợp đồng:</label>
            <input type="text" placeholder="VD: MH-370" class="input-currency">
            <label for="unitPrice">Tên Cty:</label>
            <input type="text" placeholder="Cty TNHH xxx" class="input-currency">
            <div>
                <div class="date-container" style="display: inline-block;">
                    <label for="start-date">Ngày bắt đầu:</label>
                    <input style="margin-right: 10px;" type="date" id="start-date" name="start-date">
                </div>
                <div class="date-container" style="display: inline-block;">
                    <label for="end-date">Ngày kết thúc:</label>
                    <input type="date" id="end-date" name="end-date">
                </div>
            </div>
            <label for="unitPrice">Tên khách hàng:</label>
            <input type="text" placeholder="Nguyễn Văn A" class="input-currency">
            <label for="unitPrice">SĐT:</label>
            <input type="text" placeholder="098xxxxxxx" class="input-currency">
            <label for="unitPrice">Tên nhân viên:</label>
            <input type="text" placeholder="B Phú Hải" class="input-currency">
            <button id="saveButton4">Lưu</button>
            <button id="closePopup4">Đóng</button>
        </div>
        <div id="overlay" class="overlay"></div>
        <table class="table datatable-column-search-inputs">
            <thead>
                <tr>
                    <th>Mã HĐ</th>
                    <th>Tên Cty</th>
                    <th>Ngày bắt đầu</th>
                    <th>Ngày kết thúc</th>
                    <th>Tên khách hàng</th>
                    <th>SĐT</th>
                    <th>Tên nhân viên</th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="serviceTableBody">
                @if (ViewBag.Services != null)
                {
                    var stt = 1;
                    @foreach (var service in ViewBag.Services)
                    {
                        <tr>
                            <td>@stt</td>
                            <td>@service.Service_Type_Name</td>
                            <td>@service.Unit</td>
                            <td>@service.Unit_Price.ToString("N0")</td>
                            <td>@service.Quantity</td>
                            <td>@service.Total_Amount.ToString("N0")</td>
                            <td>
                                <a href="#"><i class="fa-solid fa-pen-to-square"></i></a>
                                <a href="#" class="delete-link" data-serviceid="@service.Service_ID"><i class="fa-solid fa-trash-can"></i></a>
                            </td>
                        </tr>
                        stt++;
                    }
                }
                else
                {
                    <tr>
                        <td colspan="7">Không có dữ liệu</td>
                    </tr>
                }
            </tbody>

        </table>
    </div>
</div>

<div id="Tab2" class="tabcontent">
    <div class="card-body">
        <a id="openPopup" class="btn btn-primary">Thêm Dịch Vụ</a>
    </div>
    <div class="card">
        <div id="myPopup" class="popup">
            <h2>Nhập thông tin</h2>
            <label for="serviceType">Loại Dịch Vụ:</label>
            <select id="serviceTypeDropdown">
                @if (ViewBag.ServiceTypes != null)
                {
                    @foreach (var serviceType in ViewBag.ServiceTypes)
                    {
                        <option value="@serviceType.Service_Type_ID">@serviceType.Name</option>
                    }
                }
                else
                {
                    <p>Danh sách loại dịch vụ trống.</p>
                }
            </select>

            <label for="unit">Đơn Vị Tính:</label>
            <select id="unitDropdown">
                @if (ViewBag.Unit != null)
                {
                    @foreach (var unit in ViewBag.Unit)
                    {
                        <option value="@unit.Unit_ID">@unit.Unit</option>
                    }
                }
                else
                {
                    <p>Danh sách đơn vị tính trống.</p>
                }
            </select>

            <label for="unitPrice">Giá Tiền:</label>
            <input type="text" placeholder="Giá tiền (VNĐ)" id="unitPrice" class="input-currency">
            <label for="quantity">Số Lượng:</label>
            <input type="number" min="1" placeholder="Số lượng" id="quantity">
            <label for="totalAmount">Tổng Tiền:</label>
            <input type="text" placeholder="Thành tiền" id="totalAmount" class="input-currency">
            <button id="saveButton">Lưu</button>
            <button id="closePopup">Đóng</button>
        </div>

        <div id="overlay" class="overlay"></div>
        <table class="table datatable-column-search-inputs">
            <thead>
                <tr>
                    <th>STT</th>
                    <th>Loại dịch vụ</th>
                    <th>Đơn vị tính</th>
                    <th>Đơn giá</th>
                    <th>Số lượng</th>
                    <th>Thành tiền</th>
                </tr>
            </thead>
            <tbody id="serviceTableBody">
                @if (ViewBag.Services != null)
                {
                    var stt = 1;
                    @foreach (var service in ViewBag.Services)
                    {
                        <tr>
                            <td>@stt</td>
                            <td>@service.Service_Type_Name</td>
                            <td>@service.Unit</td>
                            <td>@service.Unit_Price.ToString("N0")</td>
                            <td>@service.Quantity</td>
                            <td>@service.Total_Amount.ToString("N0")</td>
                            <td>
                                <a class="openPopup" data-serviceid="@service.Service_ID" href="#"><i class="fa-solid fa-pen-to-square"></i></a>
                                <a href="#" class="delete-link" data-serviceid="@service.Service_ID"><i class="fa-solid fa-trash-can"></i></a>
                            </td>
                        </tr>
                        stt++;
                    }
                }
                else
                {
                    <tr>
                        <td colspan="7">Không có dữ liệu</td>
                    </tr>
                }
            </tbody>

        </table>
    </div>
</div>


<div id="Tab3" class="tabcontent">
    <div class="card-body">
        <a id="openPopup3" style="margin-bottom: 4px; margin-left: 0px;" class="btn btn-primary">Thêm Chi Tiết</a>
    </div>
    <div id="myPopup3" class="popup">
        <h2>Nhập thông tin</h2>
        <select id="serviceType">
            <option value="Service 1">Dịch vụ 1</option>
            <option value="Service 2">Dịch vụ 2</option>
            <option value="Service 3">Dịch vụ 3</option>
        </select>
        <select id="unit">
            <option value="Piece">Cái</option>
            <option value="Hour">Giờ</option>
            <option value="Kg">Kg</option>
        </select>
        <input type="text" placeholder="Đơn giá" id="unitPrice">
        <input type="number" min="1" placeholder="Số lượng" id="quantity">
        <input type="text" placeholder="Thành tiền" id="totalAmount">
        <button id="saveButton">Lưu</button>
        <button id="closePopup3">Đóng</button>
    </div>

    <div id="overlay" class="overlay"></div>
    <div class="content">
        <div class="card">
            <label style="text-align:center">Dịch vụ abc</label>
            <table class="table datatable-column-search-inputs">
                <thead>
                    <tr style="text-align:center;">
                        <th>STT</th>
                        <th>Ngày</th>
                        <th>Nhân viên phụ trách</th>
                        <th>Tình trạng</th>
                        <th>Trạng Thái</th>
                    </tr>
                </thead>
                <tbody>
                    <tr style="text-align:center">
                        <td>1</td>
                        <td>2011/04/25</td>
                        <td>Biện Anh Pháp</td>
                        <th>
                            <button class="toggle-btn" style="color: #94bbff;">
                                <i class="fa-solid fa-toggle-on fa-lg"></i>
                            </button>
                        </th>
                        <td>
                            <span class="badge bg-danger bg-opacity-10 text-info"
                                  style="--bg-opacity: 1;color: rgba(var(--white-rgb), var(--text-opacity)) !important;background-color: rgba(var(--danger-rgb), var(--bg-opacity)) !important;">
                                Chưa
                                ký
                            </span>
                        </td>
                        <td>
                            <a href="#"><i class="fa-solid fa-pen-to-square"></i></a>
                            <a href="#"><i class="fa-solid fa-trash-can"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="~/assets/js/site.js"></script>
<script>
    $(document).ready(function () {
        $('.delete-link').click(function (event) {
            event.preventDefault(); // Ngăn chặn hành vi mặc định của liên kết

            var serviceID = $(this).data('serviceid');
            var $deletedRow = $(this).closest('tr'); // Lấy thẻ cha là <tr> chứa dòng

            // Gửi Ajax request để xóa dịch vụ
            $.ajax({
                url: '/Contracts/Delete',
                type: 'DELETE',
                dataType: 'json',
                data: { serviceID: serviceID },
                success: function (result) {
                    alert("Xóa dịch vụ thành công!");

                    // Loại bỏ dòng vừa click xoá khỏi bảng
                    $deletedRow.remove();
                },
                error: function () {
                    alert("Lỗi: Xóa dịch vụ không thành công!");
                }
            });
        });
    });
</script>


<script>
    // Sự kiện click cho nút "Thêm"
    document.getElementById("openPopup").addEventListener("click", function () {
        openCreatePopup();
    });

    // Sự kiện click cho nút chỉnh sửa
    var editButtons = document.getElementsByClassName("openPopup");
    for (var i = 0; i < editButtons.length; i++) {
        editButtons[i].addEventListener("click", function () {
            var serviceID = $(this).data('serviceid');
            console.log(serviceID);
            openEditPopup(serviceID);
        });
    }



    // Hàm mở popup tạo mới dịch vụ
    function openCreatePopup() {
        // Hiển thị popup và overlay
        document.getElementById("myPopup").style.display = "block";
        document.getElementById("overlay").style.display = "block";
        document.body.classList.add("popup-active");
    }

    // Hàm mở popup chỉnh sửa dịch vụ
    function openEditPopup(serviceID) {
        // Hiển thị popup và overlay
        document.getElementById("myPopup").style.display = "block";
        document.getElementById("overlay").style.display = "block";
        document.body.classList.add("popup-active");

        if (serviceID) {
            // Gán dữ liệu dịch vụ vào các trường input
            var service = getServiceByID(serviceID);
            if (service) {
                document.getElementById("serviceTypeDropdown").selectedIndex = getIndexByValue(document.getElementById("serviceTypeDropdown"), service.Service_Type_Name);
                document.getElementById("unitDropdown").selectedIndex = getIndexByValue(document.getElementById("unitDropdown"), service.Unit);
                document.getElementById("unitPrice").value = service.Unit_Price;
                document.getElementById("quantity").value = service.Quantity;
                document.getElementById("totalAmount").value = service.Total_Amount;
            }
        }

    }
    function getIndexByValue(selectElement, value) {
        for (var i = 0; i < selectElement.options.length; i++) {
            if (selectElement.options[i].value === value) {
                return i;
            }
        }
        return -1; // Nếu không tìm thấy giá trị trong dropdown
    }

    // Hàm lấy dữ liệu dịch vụ theo ID
    function getServiceByID(serviceID) {
        var services = JSON.parse('@Html.Raw(Json.Serialize(ViewBag.Services))');
        return services.find(function (service) {
            return service.Service_ID === serviceID;         
        }) || null;
    }

    // Sự kiện click cho nút "Lưu"
    $(document).ready(function () {
        $('#saveButton').click(function () {
            var serviceID = $(this).data('serviceid');
            var serviceTypeID = $('#serviceTypeDropdown').val();
            var unitID = $('#unitDropdown').val();
            var unitPrice = parseFloat($('#unitPrice').val().replace(/,/g, ''));
            var quantity = parseFloat($('#quantity').val());
            var totalAmount = unitPrice * quantity;

            var data = {
                Service_ID: serviceID,
                Service_Type_ID: serviceTypeID,
                Unit_ID: unitID,
                Unit_Price: unitPrice,
                Quantity: quantity,
                Total_Amount: totalAmount
            };

            if (serviceID) {
                // Gửi Ajax request để cập nhật dịch vụ
                $.ajax({
                    url: '/Contracts/Update',
                    type: 'POST',
                    dataType: 'json',
                    data: data,
                    success: function (result) {
                        alert("Cập nhật dịch vụ thành công!");
                        location.reload();
                    },
                    error: function (error) {
                        alert("Lỗi: " + error.responseText);
                    }
                });
            } else {
                // Gửi Ajax request để tạo mới dịch vụ
                $.ajax({
                    url: '/Contracts/Create',
                    type: 'POST',
                    dataType: 'json',
                    data: data,
                    success: function (result) {
                        alert("Tạo dịch vụ thành công!");
                        location.reload();
                    },
                    error: function (error) {
                        alert("Lỗi: " + error.responseText);
                    }
                });
            }
        });
    });

    // Hàm đóng popup
    document.getElementById("closePopup").addEventListener("click", function () {
        document.getElementById("myPopup").style.display = "none";
        document.getElementById("overlay").style.display = "none";
        document.body.classList.remove("popup-active");

        // Xoá các dữ liệu đã nhập
        document.getElementById("unitPrice").value = "";
        document.getElementById("quantity").value = "";
        document.getElementById("totalAmount").value = "";
    });
</script>


<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha384-KyZXE1s5DfC8y7X5OZGqDz3asGtLJpTDAyAeJSEhMn79A2cHTt45wEUJqOqDO3oF" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/5.0.6/jquery.inputmask.min.js"></script>














